.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    padding: 92px 49px 92px 51px;
  }
  
  .header__menu {
    display: flex;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }
  
  .header__links-list {
    display: flex;
    list-style: circle;
  }
  
  .header__links-list-item_no-bullit {
    list-style-type: none;
  }
  
  .header__links-list-item:not(:first-child) {
    margin-left: 32px;
  }
  
  .header__logo {
    display: block;
    width: 137px;
    height: 100px;
    margin-right: 150px;
    margin-bottom: 7px;
  }
  
  .address {
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
  }
  
  .address__active {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
  
  .cover {
    display: flex;
    width: 1440px;
    height: 757px;
    background: url("../images/cover.jpg");
    background-size: 1440px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 180px;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: #000;
  }
  
  .cover__title {
    color: white;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    width: 1340px;
    height: 355px;
  }
  
  .aligned-text {
    display: block;
    line-height: 115%;
    letter-spacing: 30px;
    padding: 165px 50px 20px;
  }
  
  .aligned-text_center {
    display: block;
    line-height: 100%;
    letter-spacing: 30px;
    width: 1280px;
    padding-left: 505px;
  }
  
  .aligned-text_right {
    display: block;
    line-height: 100%;
    letter-spacing: 60px;
    width: 1340px;
    padding: 20px 974px 240px;
  }
  
  .no-letter-spacing {
    letter-spacing: 30px;
  }
  
  .letter-spacing-extended {
    letter-spacing: 60px;
  }
  
  .cover__description {
    position: absolute;
  }
  
  .cover__description-text {
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    padding: 667px 385px 62px 422px;
    word-spacing: 17px;
  }
  
  .bet-button {
    position: absolute;
    top: 655px;
    left: 1133px;
    padding: 12px 32px;
    height: 52px;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .lots {
    padding: 0 50px;
    height: 579px;
    width: 1440px;
    margin: 0 auto;
  }
  
  .lots__heading {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
  }
  
  .lots__card-list {
    display: flex;
    gap: 25px;
    width: 1340px;
    margin-bottom: 30px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #fff;
  }
  
  .card__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
  
  .card-link {
    color: white;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .card__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  
  .lots__card-list-item {
    list-style-type: none;
    min-width: 430px;
    min-height: 450px;
    background-size: cover;
    position: relative;
  }
  
  .lots__card-list-item__film {
    background-image: url(../images/card-lot-01.jpg);
  }
  
  .lots__card-list-item__book {
    background-image: url(../images/card-lot-02.jpg);
  }
  
  .lots__card-list-item__picture {
    background-image: url(../images/card-lot-03.jpg);
  }
  
  .lots__look-more-link {
    padding-left: 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
  
  .about {
    margin: 180px 50px;
    min-width: 1340px;
    min-height: 487px;
  }
  
  .about__column {
    display: grid;
    grid-template-columns: 430px 910px;
    grid-template-rows: 240px 250px;
    margin-left: 40px;
    width: 100%;
  }
  
  .about__logo {
    margin: 0 auto;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 100%;
    padding: 63px 46px;
  }
  
  .about__logo-image {
    width: 148px;
    height: 114px;
  }
  
  .about__title {
    display: grid;
    align-items: center;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    left: 23px;
  }
  
  .about__text {
    display: grid;
    grid-column: 2/3;
    gap: 25px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.125;
    width: 885px;
    position: relative;
    top: 7px;
    left: 23px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 90px;
    margin: 0 40px;
  }
  
  .footer__menu {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }
  
  .footer__menu-list {
    width: 149px;
    height: 64px;
  }
  
  .footer__menu-list-item {
    display: flex;
    justify-content: center;
  }
  
  .footer__menu-link_active {
    list-style: none;
  }
  
  .footer__social-list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 48px;
    list-style: none;
  }
  
  .footer__social-list-item {
    display: flex;
    justify-content: space-between;
  }