.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 92px 49px 92px 51px;
  }
  
  .header__menu {
    display: flex;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }
  
  .header__links-list {
    display: flex;
    list-style: circle;
    gap: 32px;
  }
  
  .header__links-list-item_no-bullit {
    list-style-type: none;
  }
  
  .header__link_active {
    text-decoration: none;
  }

  .header__logo {
    display: block;
    width: 137px;
    height: 100px;
    margin-right: 150px;
    margin-bottom: 7px;
  }
  
  .address {
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    max-width: 240px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
  
  .cover {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    background: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    margin-bottom: 180px;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background: rgb( 0 0 0 /0.6);
    position: absolute;
    inset: 0 0 0 0;
  }
  
  .cover__title {
    color: rgb(250, 250, 250);
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 1340px;
    z-index: 1;
    
  }
  
  .aligned-text {
    display: block;
    line-height: 115%;
    letter-spacing: 30px;
    padding: 165px 50px 20px;
  }
  
  .aligned-text_center {
    display: block;
    line-height: 100%;
    letter-spacing: 30px;
    max-width: 1280px;
    padding-left: 505px;
  }
  
  .aligned-text_right {
    display: block;
    line-height: 100%;
    letter-spacing: 60px;
    padding: 20px 0 0 974px ;
  }
  
  .no-letter-spacing {
    letter-spacing: 30px;
  }
  
  .letter-spacing-extended {
    letter-spacing: 60px;
  }
  
  .cover__description {
    display: flex;
    gap: 82px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 135px 47px 50px 418px;

    
  }
  
  .cover__description-text {
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 17px;
  }
  
  .bet-button {
    z-index: 1;
    background: transparent;
    color: rgb(250, 250, 250);
    border: 1px solid white;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 32px;
  }
  
  .lots {
    padding: 0 50px;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .lots__heading {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
  }
  
  .lots__card-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1340px;
    margin-bottom: 30px;
  }

  .card-link {
    display: block;
    text-decoration: none;
    height: 100%;
  }

  .card {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: rgb(250, 250, 250);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 40px;
  }
  
  .card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
  }

  .card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
  }
  
  .lots__card-list-item {
    list-style-type: none;
    width: 430px;
    min-height: 450px;
    position: relative;
    flex-grow: 1;
  }
  
  .lots__card-list__film {
    background-image: url(../images/card-lot-01.jpg);
  }
  
  .lots__card-list__book {
    background-image: url(../images/card-lot-02.jpg);
  }
  
  .lots__card-list__picture {
    background-image: url(../images/card-lot-03.jpg);
  }
  
  .lots__look-more-link {
    padding-left: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
  }
  
  .about {
    margin: 180px 50px;
    max-width: 1340px;
  }
  
  .about__column {
   /*  display: grid;
    grid-template-columns: 430px 2fr;*/
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 25px;
    width: 100%;
   /* margin-left: 50px;   cдвиг при проверке*/
    
  }
  
  .about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 240px;
    height: 240px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
  }
  
  .about__logo-image {
    width: 148px;
    height: 114px;
  }

  .about__title__text {
  position: relative;
  top: 4px;
  right: 2px;
  }
  
  .about__title {
    padding:  100px 0;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  
  .about__text {
    display: flex;
    flex-direction: column;
    
    gap: 25px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.18;
    max-width: 885px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 3px 50px 90px;
   
    
    
  }
  
  .footer__menu {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }
  
  .footer__menu-list {
    max-width: 149px;
  }
  
  .footer__menu-list-item {
    display: flex;
    justify-content: center;
  }
  
  .footer__menu-link_active {
    list-style: none;
    text-decoration: none;
  }
  
  .footer__social-list {
    display: flex;
    gap: 50px;
    max-width: 240px;
    list-style: none;
  }
  
  .footer__social-list-item {
    display: flex;
    justify-content: space-between;
  }